<html>
<head>
    <title>url shortener IO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/united/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 pl-5 pr-5">
    <form action="/" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="inputLarge"><%=message%></label>
                <input class="form-control form-control-lg" type="text" placeholder="paste your url here..." id="inputLarge" name="url">
            </div>
            <button type="submit" class="btn btn-primary">shorten!</button>
        </fieldset>
    </form>
    <% if (url !== null && success ) { %>
    <div class="alert alert-dismissible alert-success">
        <strong><%=url%></strong>
    </div>
    <% } %>
    <% if (!success) { %>
    <div class="alert alert-dismissible alert-danger">
        <strong><%=url%></strong>
    </div>
    <% } %>
</div>

</body>
</html>
